*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    scroll-behavior:smooth;
}

/* Navbar */

#navbar{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:transparent;
    transition:0.3s;
    z-index:1000;
}

#navbar.scrolled{
    background:black;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:bold;
}

#navbar ul{
    list-style:none;
    display:flex;
}

#navbar ul li{
    margin-left:30px;
}

#navbar ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

#navbar ul li a:hover{
    color:#00ffff;
}

/* Home Section */

.hero{
    height:100vh;
    background:linear-gradient(to right,#000428,#004e92);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:70px;
}

.hero-content p{
    font-size:28px;
    margin-top:15px;
}

/* Other Sections */

.content{
    height:100vh;
    padding-top:120px;
    text-align:center;
    background:#f4f4f4;
}

.content h1{
    font-size:50px;
    margin-bottom:20px;
}

.content p{
    font-size:24px;
    width:70%;
    margin:auto;
}